@use 'variaveis';

.highlights{
    padding: 5.6vw 20px;

    &__cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr) 2FR repeat(2, 1fr);
        gap: 20px;
        padding-top: 56px;

        @media (max-width:768px) {
            display: block  ;
        }

        &__card{
            .card-video{
                iframe{
                    width: 100%;
                    border-radius: 8px;
                    @media (max-width:768px) {
                        height: 240px;
                    }
                }
            }   

            .card-subtitle{

                padding: 20px;
                margin-top: 5px;
                border-radius: 8px;
                border: 1px solid variaveis.$lightPuple;
                background-color: variaveis.$puple;

                @media (max-width:768px) {
                    margin-bottom: 20px;
                }

                p{
                    text-align: center;
                }
            }
            
            .card-about{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 16px 24px;
                border-radius: 8px;
                border: 1px solid variaveis.$puple;
                background-color: variaveis.$darkPurple;

                @media (max-width:768px) {
                    margin-bottom: 20px;
                }

                h4{
                    text-align: center;
                    padding-bottom: 20px;
                    font-weight: 400;
                }
                p{
                    text-align: left;
                }
            }
        }
    }
}