@use "variaveis";
@use "header";
@use "hero";
@use "highlights";
@use "banner";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    user-select: none;
}

@font-face {
    font-family: Yasashii;
    src: url(../../assets/fonts/Yasashii-regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Yasashii;
    src: url(../../assets/fonts/Yasashii-bold.ttf);
    font-weight: 700;
}

body{
    background-color: variaveis.$corDeFundo;
}

h1{
    color: white;
}

.title{

    display: block;
    width: 450px;

    margin: 0 auto;

    font-size: 4rem;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    color: #433c6a;
    

    @media (max-width:768px) {
        font-size: 2rem;
        width: 200px;
    }
}

.text-small{
    font-size: 14px;
}